Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint -c eslint.config.mjs

add apple team id
  .github/workflows/build.yml
  electron-builder.json
Due: prettier --check

enable all builds
  .github/workflows/build.yml
  build/notarize.js
Due: prettier --check, eslint -c eslint.config.mjs

try to fix notarizing
  .github/workflows/build.yml
  build/notarize.js
Due: prettier --check, eslint -c eslint.config.mjs

finish up
  .github/workflows/build.yml
Due: prettier --check

clean up deps, test build
  .parcelrc
  package-lock.json
  package.json
Due: prettier --check

fix logger dependency version, test bundling
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --check

cleanup
  .github/workflows/build.yml
Due: prettier --check

use node usb transport for Trezor
  app/dash/Accounts/Add/AddHardware/index.js
  main/signers/trezor/bridge.ts
  main/windows/window.ts
Due: prettier --check, eslint -c eslint.config.mjs

test linux build on ubuntu 22
  .github/workflows/build.yml
  electron-builder.json
  package-lock.json
  package.json
Due: prettier --check

fix build flow
  .github/workflows/build.yml
Due: prettier --check

add image
  .github/workflows/build.yml
  Dockerfile.ubuntu
  get_release.sh
Due: prettier --check

update image
  Dockerfile.ubuntu
Due: none

update script
  get_release.sh
Due: none

more updates
  Dockerfile.ubuntu
  get_release.sh
Due: none

try to revert electron builder
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --check

remove notarize property
  electron-builder.json
Due: prettier --check

update package lock
  package-lock.json
Due: prettier --check

put builder back
  package-lock.json
  package.json
Due: prettier --check

try deb only
  .github/workflows/build.yml
  electron-builder.json
Due: prettier --check

revert builder config
  electron-builder.json
Due: prettier --check

remove windows and mac targets
  electron-builder.json
Due: prettier --check

remove tar and snap
  electron-builder.json
Due: prettier --check

put tar back
  electron-builder.json
Due: prettier --check

tar without arm
  electron-builder.json
Due: prettier --check

put snap back
  electron-builder.json
Due: prettier --check

put it all back except arm
  electron-builder.json
Due: prettier --check

do it on ubuntu 22
  .github/workflows/build.yml
Due: prettier --check

move images to dev tools
  Dockerfile.ubuntu
  get_release.sh
Due: none

try arm build
  .github/workflows/build.yml
Due: prettier --check

add debug
  .github/workflows/build.yml
Due: prettier --check

add line number
  .github/workflows/build.yml
Due: prettier --check

try arm again
  .github/workflows/build.yml
Due: prettier --check

break up config files
  .github/workflows/build.yml
  builder/electron-builder-base.js
  builder/electron-builder-linux-arm64.js
  builder/electron-builder-standard.js
  electron-builder.json
  package.json
Due: prettier --check, eslint -c eslint.config.mjs

update workflow
  .github/workflows/build.yml
Due: prettier --check

fix syntax
  .github/workflows/build.yml
Due: prettier --check

put it all together
  .github/workflows/build.yml
  package.json
Due: prettier --check

clean up build scripts
  .github/workflows/build.yml
  build/electron-builder-base.js
  build/electron-builder-linux-arm64.js
  build/electron-builder-standard.js
  package.json
Due: prettier --check, eslint -c eslint.config.mjs

put notarize back
  build/electron-builder-standard.js
Due: prettier --check, eslint -c eslint.config.mjs

fix postinstall script
  package.json
Due: prettier --check

revert package lock
  package-lock.json
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{yml,json,md,html,ts,js,mjs,jsx,tsx}
  eslint -c eslint.config.mjs: any of: **/*.{ts,js,mjs,jsx,tsx}
