Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint -c eslint.config.mjs

.lintstagedrc.json:

{
  "**/*.{yml,json,md,html,ts,js,mjs,jsx,tsx}": "prettier --check",
  "**/*.{ts,js,mjs,jsx,tsx}": "eslint -c eslint.config.mjs"
}

Notify window (#1490)
  app/notify/App/Notification/MoveToPylon/index.jsx
  app/notify/App/Notification/index.jsx
  app/notify/App/index.jsx
  app/notify/App/index.styl
  app/notify/App/styled/index.jsx
  app/notify/index.dev.html
  app/notify/index.html
  app/notify/index.js
  app/tray/Notify/index.js
  main/store/actions/index.js
  main/windows/index.ts
  package-lock.json
  package.json
  scripts/bundler.mjs
Due: prettier --check, eslint -c eslint.config.mjs

Choose summon keybinding (#1494)
  app/dash/Main/style/index.styl
  main/store/migrate/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/state/index.ts
  main/store/state/types/main.ts
  main/windows/index.ts
  package-lock.json
  resources/Components/KeyboardShortcutConfigurator/index.js
  resources/app/index.ts
  test/main/store/migrate/migrations/37.test.js
  test/main/store/migrate/setup.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

update package lock
  package-lock.json
Due: prettier --check

mute pylon migration after closing (#1497)
  main/store/state/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

remove unused type
  @types/frame/state.d.ts
Due: prettier --check, eslint -c eslint.config.mjs

fix test and compilation
  main/provider/subscriptions.ts
  main/store/migrate/migrations/legacy/index.ts
  main/store/state/index.js
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/store/migrate/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

fix keyboard test
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

fix summon button styling
  app/dash/Main/style/index.styl
Due: none

remove canary stuff
  app/onboard/App/Slides/Intro/index.jsx
  app/onboard/App/Slides/index.jsx
  build/background.png
  build/background@2x.png
  build/icons/512x512.png
  build/icons/icon.png
  build/notarize.js
  electron-builder.json
Due: prettier --check, eslint -c eslint.config.mjs

fix migration order
  main/store/migrate/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/migrate/migrations/38/index.ts
  main/store/migrate/migrations/38/schema.ts
  main/store/migrate/migrations/39/index.ts
  main/store/state/index.ts
  test/main/signers/hot/RingSigner/index.test.js
  test/main/store/migrate/migrations/37.test.js
  test/main/store/migrate/migrations/38.test.js
  test/main/store/migrate/migrations/39.test.js
Due: prettier --check, eslint -c eslint.config.mjs

add pylon to schema
  main/store/migrate/migrations/38/schema.ts
Due: prettier --check, eslint -c eslint.config.mjs

update package lock
  package-lock.json
  package.json
Due: prettier --check

update ledger deps, remove canary workflow actions
  .github/workflows/canary.yml
  .github/workflows/sync-upstream.yml
  package-lock.json
  package.json
Due: prettier --check

update babel deps
  package-lock.json
  package.json
Due: prettier --check

update trezor suite
  package-lock.json
  package.json
Due: prettier --check

add base chains
  main/store/migrate/index.ts
  main/store/migrate/migrations/38/schema.ts
  main/store/migrate/migrations/40/index.ts
  main/store/state/index.ts
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

update Pylon endpoints to use http
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

use dev pylon links for base
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

remove errant altslash migration
  main/store/migrate/migrations/38/schema.ts
  main/store/migrate/migrations/40/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

remove dev domain
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

add base chains to canary
  main/store/migrate/migrations/38/schema.ts
  main/store/migrate/migrations/41/index.ts
  main/store/state/types/chainMeta.ts
  package-lock.json
  package.json
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

change name to base
  main/store/migrate/migrations/41/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

update accent8 to base color
  resources/base.styl
Due: none

add missing base chain
  main/store/migrate/index.ts
  main/store/migrate/migrations/41/index.ts
  main/store/state/index.ts
  main/store/state/types/chain.ts
Due: prettier --check, eslint -c eslint.config.mjs

bump version
  package-lock.json
  package.json
Due: prettier --check

add base chains to canary (#1626)
  main/store/migrate/index.ts
  main/store/migrate/migrations/38/schema.ts
  main/store/migrate/migrations/41/index.ts
  main/store/state/index.ts
  main/store/state/types/chain.ts
  main/store/state/types/chainMeta.ts
  package-lock.json
  package.json
  resources/base.styl
  resources/constants/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

update to version 0.6.8
  package-lock.json
  package.json
Due: prettier --check

add L2 gas fee calculations for other optimism based chains
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
  resources/Components/Monitor/index.js
  resources/utils/chains.ts
Due: prettier --check, eslint -c eslint.config.mjs

add import
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
Due: prettier --check, eslint -c eslint.config.mjs

fix typo
  resources/Components/Monitor/index.js
Due: prettier --check, eslint -c eslint.config.mjs

remove canary repo info
  package.json
Due: prettier --check

update test
  test/main/updater/manualCheck.test.js
Due: prettier --check, eslint -c eslint.config.mjs

remove canary release urls
  main/windows/window.ts
Due: prettier --check, eslint -c eslint.config.mjs

l1 fee estimate
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
  resources/Components/Monitor/index.js
  resources/utils/chains.ts
Due: prettier --check, eslint -c eslint.config.mjs

guard
  resources/Components/Monitor/index.js
Due: prettier --check, eslint -c eslint.config.mjs

add tests, rename some stuff
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
  resources/Components/Monitor/index.js
  resources/utils/chains.ts
  test/resources/utils/chains.test.js
Due: prettier --check, eslint -c eslint.config.mjs

l1 fee estimate (#1628)
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
  resources/Components/Monitor/index.js
  resources/utils/chains.ts
  test/resources/utils/chains.test.js
Due: prettier --check, eslint -c eslint.config.mjs

op stack fee estimates (#1627)
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
  resources/Components/Monitor/index.js
  resources/utils/chains.ts
  test/resources/utils/chains.test.js
Due: prettier --check, eslint -c eslint.config.mjs

update actual fee
  resources/Components/Monitor/index.js
Due: prettier --check, eslint -c eslint.config.mjs

introduce op stack-specific gas calculations
  main/chains/gas/index.ts
  main/chains/index.js
  main/transaction/gasMonitor.ts
  resources/gas/index.ts
  resources/utils/chains.ts
Due: prettier --check, eslint -c eslint.config.mjs
