Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint -c eslint.config.mjs

add padding when no items found
  app/tray/Account/Inventory/InventoryExpanded/index.js
  app/tray/Account/Inventory/InventoryPreview/index.js
Due: prettier --check, eslint -c eslint.config.mjs

remove extra cluster boxes, fix no items found spacing (#1593)
  app/dash/Chains/Chain/ChainPreview/index.js
  app/tray/Account/Balances/BalancesList/index.js
  app/tray/Account/Inventory/InventoryExpanded/index.js
  app/tray/Account/Inventory/InventoryPreview/index.js
Due: prettier --check, eslint -c eslint.config.mjs

pass latest ref to build
  .github/workflows/canary-prebuild.yml
  .github/workflows/sync-upstream.yml
Due: prettier --check

add default
  .github/workflows/canary-prebuild.yml
Due: prettier --check

pass latest ref to build (#1595)
  .github/workflows/canary-prebuild.yml
  .github/workflows/sync-upstream.yml
Due: prettier --check

dont block account service updates on a complete snapshot per chain (#1594)
  main/externalData/surface/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

use network.on instead of checking for RPC connection when deciding if balances are all up to date
  app/tray/Account/Balances/BalancesExpanded/index.js
  app/tray/Account/Balances/BalancesList/index.js
  app/tray/Account/Balances/BalancesPreview/index.js
  app/tray/Account/Balances/index.js
Due: prettier --check, eslint -c eslint.config.mjs

shouldShowTotal => shouldShowTotalValue
  app/tray/Account/Balances/BalancesExpanded/index.js
  app/tray/Account/Balances/BalancesList/index.js
  app/tray/Account/Balances/BalancesPreview/index.js
  app/tray/Account/Balances/index.js
Due: prettier --check, eslint -c eslint.config.mjs

use github sha, remove build trigger
  .github/workflows/sync-upstream.yml
Due: prettier --check

always open the explorer when one is set, fix layout issue
  app/tray/Account/Balances/BalancesExpanded/index.js
  app/tray/Account/Balances/BalancesList/index.js
  main/windows/window.ts
Due: prettier --check, eslint -c eslint.config.mjs

filter out balances from non-scanner chains before sending to the balance processor
  main/externalData/balances/scanner/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

always open the explorer when one is set, fix layout issue (#1597)
  app/tray/Account/Balances/BalancesExpanded/index.js
  app/tray/Account/Balances/BalancesList/index.js
  main/windows/window.ts
Due: prettier --check, eslint -c eslint.config.mjs

hide and unhide button updated to use new action name
  app/tray/Account/Balances/BalancesList/index.js
Due: prettier --check, eslint -c eslint.config.mjs

update workflow
  .github/workflows/sync-upstream.yml
Due: prettier --check

Revert "update icons for 0.6 (#1447)"
  build/background.png
  build/background@2x.png
  build/icons/512x512.png
  build/icons/icon.png
  main/windows/AppIcon.png
Due: none

update package lock, app id
  .github/workflows/compile-and-test.yml
  build/notarize.js
Due: prettier --check, eslint -c eslint.config.mjs

create canary branch
  .github/workflows/canary.yml
  electron-builder.json
  main/windows/window.ts
  package.json
  test/main/updater/manualCheck.test.js
Due: prettier --check, eslint -c eslint.config.mjs

remove version from intro slide copy
  app/onboard/App/Slides/Intro/index.jsx
  app/onboard/App/Slides/index.jsx
Due: prettier --check, eslint -c eslint.config.mjs

update workflow to allow for rebases
  .github/workflows/sync-upstream.yml
Due: prettier --check

Integrate pylon evm (#1478)
  main/chains/index.js
  main/store/state/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

Pylon option (#1483)
  @types/frame/state.d.ts
  app/tray/Notify/index.js
  app/tray/index.js
  main/store/actions/index.js
  main/store/migrate/migrations/35.ts
  main/store/state/index.js
  test/main/store/migrate/migrations/35.test.js
  test/main/store/migrate/setup.js
Due: prettier --check, eslint -c eslint.config.mjs

move migrations to separate files, use TS (#1482)
  @types/frame/state.d.ts
  main/store/migrate/index.ts
  main/store/migrate/migrations/35.ts
  main/store/migrate/migrations/36.ts
  main/store/migrate/migrations/legacy.js
  main/store/migrate/types.ts
  main/store/persist/index.js
  main/store/state/index.js
  test/main/store/migrate/index.test.js
  test/main/store/migrate/migrations/35.test.js
  test/main/store/migrate/migrations/36.test.js
  test/main/store/migrate/setup.js
  test/main/store/state/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

allow non-main properties of state to pass through when parsing (#1495)
  main/store/migrate/migrations/35/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

Notify window (#1490)
  app/notify/App/Notification/MoveToPylon/index.jsx
  app/notify/App/Notification/index.jsx
  app/notify/App/index.jsx
  app/notify/App/index.styl
  app/notify/App/styled/index.jsx
  app/notify/index.dev.html
  app/notify/index.html
  app/notify/index.js
  app/tray/Notify/index.js
  main/store/actions/index.js
  main/windows/index.ts
  package-lock.json
  package.json
  scripts/bundler.mjs
Due: prettier --check, eslint -c eslint.config.mjs

remove unused type
  @types/frame/state.d.ts
Due: prettier --check, eslint -c eslint.config.mjs

Choose summon keybinding (#1494)
  app/dash/Main/style/index.styl
  main/store/migrate/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/state/index.ts
  main/store/state/types/main.ts
  test/main/store/migrate/migrations/37.test.js
  test/main/store/migrate/setup.js
Due: prettier --check, eslint -c eslint.config.mjs

mute pylon migration after closing (#1497)
  main/store/state/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

update migrations from 0.6.4
  .github/workflows/build.yml
  main/store/migrate/index.ts
  main/store/migrate/migrations/36/index.ts
  main/store/migrate/migrations/36/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/migrate/migrations/38/index.ts
  main/store/state/index.ts
  test/main/store/migrate/migrations/36.test.js
  test/main/store/migrate/migrations/37.test.js
  test/main/store/migrate/migrations/38.test.js
Due: prettier --check, eslint -c eslint.config.mjs

re-order migrations
  main/provider/subscriptions.ts
  main/store/migrate/index.ts
  main/store/migrate/migrations/35/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/migrate/migrations/36/index.ts
  main/store/migrate/migrations/36/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  test/main/store/migrate/migrations/35.test.js
  test/main/store/migrate/migrations/36.test.js
  test/main/store/migrate/migrations/37.test.js
Due: prettier --check, eslint -c eslint.config.mjs

update state version
  main/store/state/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

re-work hot signer tests to remove use of forked processes (#1535)
  main/signers/hot/HotSigner/index.ts
  main/signers/hot/HotSigner/worker/controller.ts
  main/signers/hot/RingSigner/index.ts
  main/signers/hot/index.ts
  test/__mocks__/child_process.js
  test/__mocks__/crypto.js
  test/__mocks__/electron-log.js
  test/__mocks__/electron.js
  test/main/chains/index.test.js
  test/main/signers/hot/HotSigner/index.test.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/signers/hot/RingSigner/worker.test.js
  test/main/signers/hot/SeedSigner/index.test.js
  test/main/signers/hot/index.test.js
  test/main/signers/hot/keystore.json
  test/main/signers/hot/mnemonicSigner.json
  test/main/signers/hot/mockWorker.js
  test/main/signers/hot/privateKeySigner.json
  test/main/worker/index.test.js
  test/util.js
Due: prettier --check, eslint -c eslint.config.mjs

Auto-bump version after release (#1537)
  .github/workflows/canary-prebuild.yml
  .github/workflows/compile-and-test.yml
  .github/workflows/post-publish-update-version.yml
  scripts/update-version.sh
Due: prettier --check

update app version
  package.json
Due: prettier --check

convert hot signers to TS (#1462)
  @types/frame/index.d.ts
  @types/frame/state.d.ts
  main/crypt/index.ts
  main/crypt/typedDataUtils.js
  main/signers/Signer/index.ts
  main/signers/hot/HotSigner/index.js
  main/signers/hot/HotSigner/index.ts
  main/signers/hot/HotSigner/types.ts
  main/signers/hot/HotSigner/worker.js
  main/signers/hot/HotSigner/worker/controller.ts
  main/signers/hot/HotSigner/worker/index.ts
  main/signers/hot/HotSigner/worker/launch.ts
  main/signers/hot/RingSigner/index.ts
  main/signers/hot/RingSigner/worker.js
  main/signers/hot/RingSigner/worker.ts
  main/signers/hot/SeedSigner/index.js
  main/signers/hot/SeedSigner/index.ts
  main/signers/hot/SeedSigner/worker.js
  main/signers/hot/SeedSigner/worker.ts
  main/signers/hot/index.ts
  main/signers/index.ts
  package-lock.json
  package.json
  resources/utils/index.ts
  test/main/signers/hot/HotSigner/controller.test.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/signers/hot/RingSigner/worker.test.js
  test/main/signers/hot/SeedSigner/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

Optimism gas fee display fix (#1566)
  app/tray/Account/Requests/TransactionRequest/TxFee/index.js
Due: prettier --check, eslint -c eslint.config.mjs

queue errors on startup before Sentry is initialized (#1540)
  main/errors/index.ts
  main/errors/queue.ts
  main/store/state/index.ts
Due: prettier --check, eslint -c eslint.config.mjs

fix indentation, remove force push (#1541)
  .github/workflows/post-publish-update-version.yml
  .github/workflows/sync-upstream.yml
Due: prettier --check

add state schema for chains (#1533)
  @types/frame/state.d.ts
  main/accounts/Account/index.ts
  main/accounts/index.ts
  main/contracts/deployments/ens/index.ts
  main/provider/chains/index.ts
  main/signers/hot/HotSigner/index.ts
  main/signers/hot/HotSigner/worker/launch.ts
  main/signers/hot/index.ts
  main/store/migrate/migrations/38/schema.ts
  main/store/state/index.ts
  main/store/state/types/account.ts
  main/store/state/types/chain.ts
  main/store/state/types/chainMeta.ts
  main/store/state/types/connection.ts
  main/store/state/types/dapp.ts
  main/store/state/types/frame.ts
  main/store/state/types/gas.ts
  main/store/state/types/inventory.ts
  main/store/state/types/main.ts
  main/store/state/types/mute.ts
  main/store/state/types/origin.ts
  main/store/state/types/privacy.ts
  main/store/state/types/shortcuts.ts
  main/store/state/types/signer.ts
  main/transaction/actions/erc20.ts
  main/windows/frames/frameInstances.ts
  main/windows/frames/index.ts
  main/windows/frames/viewInstances.ts
  resources/app/index.ts
  resources/domain/account/index.ts
  test/main/store/state/index.test.js
  test/main/store/state/types/chain.test.js
Due: prettier --check, eslint -c eslint.config.mjs

Fix max fee handling for PulseChain & Fantom (#1565)
  app/tray/Account/Requests/TransactionRequest/AdjustFee/index.js
  main/accounts/index.ts
  main/provider/index.ts
  main/transaction/index.ts
  resources/gas/index.ts
  resources/utils/index.ts
  test/app/tray/Account/Requests/TransactionRequest/AdjustFee/index.test.js
  test/main/accounts/index.test.js
  test/main/transaction/index.test.js
  test/resources/gas/index.test.js
  test/resources/utils/index.test.js
Due: prettier --check, eslint -c eslint.config.mjs

Path conditions:
  prettier --check: any of: **/*.{yml,json,md,html,ts,js,mjs,jsx,tsx}
  eslint -c eslint.config.mjs: any of: **/*.{ts,js,mjs,jsx,tsx}
